body{
  
    background-image: linear-gradient(90deg,#c38c66,#fcdd9b);
font-family: 'Inter', sans-serif;
  overflow: show;
} 




.custom-shape-divider-bottom-1620573744 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
   
}

.custom-shape-divider-bottom-1620573744 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 53px;
}

.custom-shape-divider-bottom-1620573744 .shape-fill {
    fill: #FFFFFF;
}

.top-nav{
    
float: right;
justify-content: space-between;
padding: 10px;
margin: 10px;
}
.top-nav a {
justify-content: space-around;
margin:20px;
font-size: 20px;
font-family: 'Inter', sans-serif;
text-decoration: none;
padding: 2px;
color: black;
   transition:0.5s;
font-weight: 500;
}
 a:hover{
    border-bottom: black solid 3px;
    transition: 0.1s ;
}
.Sign-up{
    height: 50px;
width: 140px;
cursor: pointer;
background-color: #38211e;
color:white;
border: 2px  solid #38211e;
transition: 1s ease-in-out;
font-size: 20px;
border-radius: 20px;

}



.logo{
    margin: 5px;
   
}


.brand{
    font-family: KG Always A Good Time;
    font-size: 32px;
    margin-top:-67px;
    margin-left: 35px;


}

.main{
    font-family: SF pro display;
    font-size: 40px;
    font-weight: 500;
   text-align: center;
 margin-top: 40px;
 padding: 0;


}
.explain{
    font-family: SF pro display;
    font-size: 36px;
margin:20px;
    font-weight: 500;
   text-align: center;


 
}

.box{
    background-color: white;
    border: none;
    outline: none;
    width: 48%;
    height: 10vh;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
margin:10px auto;
align-items: center;
display: block;

   transition:1s;
font-weight: 500;
}
.start .but{
    background-color: #ffb109;
    border: none;
    outline: none;
    width: 20%;
    height:10vh;
    cursor: pointer;
    margin:0px auto ;
    margin-top: 20px;
   transition:1s;
    align-items: center;
    display: block;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 25px;
    font-family:SF pro display;
}

.end{
    font-family: KG Always A Good Time;
    font-size: 32px;
margin:0;
padding: 20px;
    text-align: center;
 
    text-transform: lowercase;
}

@media (max-width: 767px) {
    .custom-shape-divider-bottom-1620573744 svg {
        width: calc(145% + 1.3px);
        height: 24px;
    }
    .main{
        font-size: 32px;
    }
    .explain{
        font-size: 28px;
    }
    .box{
        width:100%;
        font-size: 25px;
    }
  .start .but{
        width:100%;
        font-size: 25px;
    }
    .end{
        font-size: 25px;
    }
    
}

